body{
    font-family: "Noto Sans","Microsoft JhengHei";
    font-weight:600;
    font-size:18px;
}
.box{
    width: 200px;
    height: 200px;
    background: #ecd6c7;
    margin: 0 auto;/*區塊置中*/
}
p{
    text-align:center;
}